<!--
  ~ Copyright (c) Terl Tech Ltd • 09/05/18 18:38 • goterl.com
  ~
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v2.0. If a copy of the MPL was not distributed with this
  ~ file, you can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.goterl.lazycode.lazysodium">
    <application android:allowBackup="true"
                 android:supportsRtl="true"/>
</manifest>
