name: Checks

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Instrumentation checks
    runs-on: macos-latest
    strategy:
      matrix:
        arch: [x86, x86_64, arm, arm64]
        api-level: [21, 33]
    steps:
      - name: Checkout (recursive)
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
      - name: Run instrumentation checks
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          script: ./gradlew :app:connectedAndroidTest
  publish:
    name: Publish to snapshot repo if master branch
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/master' && always()
    steps:
      - uses: technote-space/workflow-conclusion-action@v3
      - name: Checkout (recursive)
        uses: actions/checkout@v3
        with:
          submodules: recursive
        if: env.WORKFLOW_CONCLUSION == 'success'
      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v3
        with:
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
        if: env.WORKFLOW_CONCLUSION == 'success'
      - name: Publish
        run: ./gradlew publishSnapshotPublicationToSnapshotRepository -Psigning.gnupg.keyName="${{ secrets.GPG_SIGNING_SUBKEY_ID }}" -Psigning.password="${{ secrets.GPG_PASSPHRASE }}" -PossrhUsername="terl" -PossrhPassword="${{ secrets.SONATYPE_PASSWORD }}"
        if: env.WORKFLOW_CONCLUSION == 'success'
